.header {
    background-color: rgb(36, 36, 36);
    border-bottom: 1px solid #000;
    color: #fff;
    display: flex;
    padding: 0px 30px;
    align-items: center;
}

.header .links {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin: 0px 45px;
}

.header .links h2 {
    cursor: pointer;
    margin: 0px 15px;
}

.body-content {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

